# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# End of https://www.gitignore.io/api/netbeans
/WIX1002/nbproject/private/
/OCC2-06/nbproject/private/
/22102539tutorial/nbproject/private/
